body {
    font-family: Roboto;
    color: #434455;
    font-size: 16px; 
    line-height: 1.5;
}
h1 {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    background-color: #2E2F42;
}
h2 {
    font-size: 36px; 
    }
h3 {
    font-size: 20px; 
}

#text {
    font-family: Raleway;
}
.link {
    color: #2E2F42;
}
.link:hover {
    color: #404BBF;}

.link:focus {
    color: #404BBF;
}
footer {
    color: #FFFFFF;
    background-color: #2E2F42;
}